<h1>Result</h1>

<div class="result">
  <% if @included == false %>
    <p>Sorry but <span class="strong"><%= @word %></span> can't be built out of <%= @letters %></p>
  <% elsif @english_word == false %>
    <p>Sorry but <span class="strong"><%= @word %></span> does not seem to be a valid English word...</p>
  <% else %>
    <p><span class="strong">Conglaturation!</span> <%= @word %> is a valid Enghlish word!</p>
  <% end %>
</div>

<div class="score">
  <p>Your score is <%= session[:score] %></p>
</div>

<%= link_to "Play again", new_path %>
